body {
    font-family: helvetica;
    font-size: 22px;
    background-color: black;
    opacity: 0.9;
    color: seashell;
    margin: 0;
    margin-left: 20px;
    padding: 0;
}

.wrapper {
    margin-left: 60px;
    margin-right: 60px
}


/* Navbar section */

.container {
    display: flex; 
    background-color: black;
    width: 1200px;
    height: 69px;
    margin-left: 20px;
    border-bottom: 1px solid seashell;
    justify-content: space-between;
    position: fixed;
    overflow: hidden;
    z-index: 99;
}

.logo img {
    height: 50px;
    width: auto;
    padding-top: 5px;
    padding-left: 10px; 
  
}

/* navigation */

.links {
    display: flex; 
    padding-top: 0;
}

.links li {
    text-decoration: underline;
    list-style: none;
    padding-left: 30px; 
    padding-right: 20px;
}

/*Mission Section */


.hero {
    background-image: url("../images/img-mission-background.jpg");
    justify-content: center; 
    height: 700px;
    width: 100%; 
    background-repeat: no-repeat;
    display: flex;
    margin-left: 20px;
    margin-right: 0;
    padding-bottom: 100px;
    
}

.statement {
    justify-content: center;
    background-color: black;
    height: 90px;
    width: 1200px;
    padding-bottom: 4px;
    padding-top: 4px;
    margin-left: 20px;
    text-align: center;
    margin-bottom: 100px;
    
}

.statement h2, h4 {
    margin-left: 20;
    padding-top: 8px; 
}

/* Tea of the month section */

.center {
    text-align: center;
    margin: 10px;
}

.offerings img, .offerings-1 img, .offerings-2 img, .offerings-3 img, .offerings-4 img, .offerings-5 img {
    height: 200px;
    width: 300px;
    text-align: center;
}

.offerings {
    display: flex;
    justify-content: space-around;
    margin-left: 10px;
    margin-right: 10px;
    padding-right: 30px;
}

.section-2 {
    display: flex;
    justify-content: space-around;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 220px;
    padding-right: 220px;
}


.text-box-1, .text-box-2, .text-box-3, .text-box-4, .text-box-5  {
    justify-content: center;
    text-align: center;
}






























